$primary: #33fff8;  // Eigene Primärfarbe setzen
@import "~bootstrap";
#dropZone {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 150px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}
.preview img {
    width: 150px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.pointer{
    cursor: pointer;
}
.slideshow img{
    width: 40%;
}